<div class="form-group" [formGroup]="form">
    <label [attr.for]="question.key"> {{ question.label }} </label>
    <div [ngSwitch]="question.controlType">
        <input class="form-control"
            *ngSwitchCase="'textbox'"
            [type]="question['type']"
            [formControlName]="question.key"
            [id]="question.key">
        <select class="form-control"
            *ngSwitchCase="'dropdown'"
            [formControlName]="question.key"
            [id]="question.key">
            <option 
                *ngFor="let opt of question['options']" 
                [value]="opt.key">
                    {{ opt.value }} 
            </option>
        </select>
    </div>
    <div class="errorMessage" *ngIf="!isValid">{{question.label | titlecase}} is required!</div>
</div>