<div class="row col-6 offset-3">
    <form *ngIf="hero">
        <div class="form-group">
            <label for="heroName">Name</label>
            <input id="heroName" name="name" [(ngModel)]="hero.name" 
            type="text" class="form-control"
            required>
        </div>
        <div class="form-group">
            <label for="heroAddress">Address</label>
            <input id="heroAddress" name="address" [(ngModel)]="hero.address" 
            type="text" class="form-control"
            required pattern="[a-zA-Z0-9-\.]{10,}">
        </div>
        <div class="form-group">
            <label for="heroSuperpower">Super power</label>
            <input id="heroSuperpower" name="superpower" [(ngModel)]="hero.superpower" 
            type="text" class="form-control"
            required>
        </div>
        <button type="submit" class="btn btn-success">update</button>
    </form>
    <pre>
        {{hero | json}}
    </pre>
</div>